
  <section class="navTop w-full h-4rem flex align-items-center justify-content-between p-5 pl-3 shadow-2 bg-white">
    <img src="../../../assets/image/logo.png" class="w-10rem">
    <div class="options flex">
      <ng-container *ngFor="let data of buttonData">
        <button pButton
                icon=""
                label="{{data.label}}"
                class="border-none text-black-alpha-90 text-bold border-noround text-lg h-4rem bg-white"
                routerLinkActive='selected'
                routerLink="{{data.routerLink}}"
                id="btnNavOptions">
        </button>
      </ng-container>
      <button pButton
              icon=""
              label="Sair"
              class="border-none bg-white text-black-alpha-90 text-bold border-noround text-lg h-4rem"
              id="btnNavSair">
      </button>
    </div>
  </section>
