#btnNavTopSair:focus, #btnNavTopOptions:focus{
  box-shadow: none !important;
}

#btnNavTopSair:hover, #btnNavTopOptions:hover{
  background-color: var(--azul-claro-20) !important;
}

#btnNavTopSair:hover::after, #btnNavTopOptions:hover::after{
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 2px;
  background-color: var(--azul-claro);
}

