<div class="card flex justify-content-center h-screen">
  <p-card class="flex align-items-center">
    <section class="header flex justify-content-center flex-column">
      <div class="logo flex justify-content-center"><img src="../../../assets/image/logo.png" class="w-3"></div>
      <div class="txtHeader mt-4">
        <h1 class="flex justify-content-center text-3xl text-black-alpha-90">LOGIN</h1>
        <p class="flex justify-content-center text-sm font-bold text-bluegray-200">Bem vindo de volta! Por favor entre com suas credenciais</p>
      </div>
    </section>
      <div class="flex flex-column gap-2 mt-6">
        <label class="font-bold text-bluegray-900">Usuário</label>
        <input class="font-bold" pInputText id="usuario" placeholder="Insira seu usuário" [(ngModel)]="userValue" />
      </div>
    <div class="flex flex-column gap-2 mt-4 mb-7">
      <label class="font-bold text-bluegray-900">Senha</label>
      <p-password inputStyleClass="w-full font-bold" styleClass="w-full" [(ngModel)]="passwordValue" [toggleMask]="true" [feedback]="false" placeholder="Insira sua senha"></p-password>
    </div>
    <p-button label="Entrar" styleClass="w-full bg-purple-500 border-purple-500 btnLogin"></p-button>
  </p-card>
</div>
